<div class="options">
    <div class="option user">
        <p>Student</p>
        <img
            src="../../../assets/go.svg"
            routerLink="user"
            class="option--icon"
            alt="Icon mady by https://www.flaticon.com/authors/freepik from www.flaticon.com"
        >
    </div>
    <div class="option admin">
        <p>Teacher</p>
        <img
            src="../../../assets/go.svg"
            routerLink="admin"
            class="option--icon"
            alt="Icon mady by https://www.flaticon.com/authors/freepik from www.flaticon.com"
        >
    </div>
</div>
