@import 'src/colors.scss';
.options {
  user-select: none;
  display: table;
  height: 100%;
  width: 100%;
  color: $text_color;
  .option {
    text-transform: uppercase;
    display: table-cell;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 49px;
    &.user {
      background-color: $main_color_1;
    }
    &.admin {
      background-color: $main_color_2;
    }
    p {
      margin: 0;
      padding-bottom: 15px;
    }
  }
  .option--icon {
    width: 54px;
    height: 54px;
    vertical-align: middle;
    margin: 0 auto;
    outline: none;
    &:hover {
      transition:0.5s all !important;
      cursor: pointer;
    }
  }
}
