@import 'src/colors.scss';
.test-list {
  text-transform: uppercase;
  .test-result--list {
      height: 242px;
  }
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    &.test--result {
      height: 43px;
      font-size: 30px;
      background: $color_darkGray_2;
      color: white;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      font-weight: bold;
    }
    &.list--item {
      width: 100%;
      height: 39px;
      text-align: center;
      background: $color_grapeFruit_3;
      color: white;
      font-size: 19px;
      border-top: 1px solid white;
      &.success {
        background: $color_mint_3;
      }
      .list--place {
        text-align: left;
      }
    }
  }
}
