$text_color: #fff;
$color_mint_1: #62ddbd;
$color_mint_2: #46cead;
$color_mint_3: #35bb9b;
$color_darkGray_1: #a9b1bc;
$color_darkGray_2: #646c77;
$color_darkGray_3: #424953;
$color_grapeFruit_1: #f76d82;
$color_grapeFruit_2: #ec5564;
$color_grapeFruit_3: #d94452;
$color_lavender_1: #f299ce;
$color_lavender_2: #eb87bf;
$color_lavender_3: #d670ac;
$color_sunFlower_1: #fcd277;
$color_sunFlower_2: #fecd57;
$color_sunFlower_3: #f5ba45;
$color_skinTone_1: #f4d0b5;
$color_skinTone_2: #f0c8a5;
$color_skinTone_3: #e4b693;
$color_lightGray_1: #f4f6f9;
$color_lightGray_2: #e5e8ec;
$color_lightGray_3: #cbd0d8;
$color_blueJeans_1: #74b1f4;
$color_blueJeans_2: #5e9cea;
$color_blueJeans_3: #4b89da;
$color_grass_1: #b4e080;
$color_grass_2: #9ed36a;
$color_grass_3: #8ac054;
$main_color_1: #0e2b36;
$main_color_2: #3eb888;
